# Feature Handling
- Data Sanity Checks
- Data Completeness Checks

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('JobChange_train.csv')
df.head(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,23798,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,106.0,0
1,29166,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1,69.0,0
2,46,city_16,0.910,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2,4.0,0
3,18527,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1,26.0,0
4,21751,city_100,NaN,NaN,No relevent experience,no_enrollment,Masters,STEM,8,NaN,NaN,2,88.0,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             18359 non-null  int64
 1   city                    18359 non-null  object
 2   city_development_index  18350 non-null  float64
 3   gender                  14261 non-null  object
 4   relevent_experience     18359 non-null  object
 5   enrolled_university     18017 non-null  object
 6   education_level         17902 non-null  object
 7   major_discipline        15521 non-null  object
 8   experience              18300 non-null  object
 9   company_size            13580 non-null  object
 10  company_type            13320 non-null  object
 11  last_new_job            17992 non-null  object
 12  training_hours          18352 non-null  float64
 13  target                  18359 non-null  int64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

## Get Columns with Missing Values

## Get Feature Names with more than 10 unique values

## Partition Data into X and y features

## Get 2 lists 
- Numerical Column Name 
- Categorical Column Names

## Impute Numerical Features with Median

## Impute Categorical Features with a constant value

## Histogram Plot for Numerical Features

## Box Plot for Numerical Features

## Bar Plot for Categorical Features